# --- DATABASE CONFIG ---
# Hostnya 'db_service' sesuai nama service di docker-compose
DB_HOST=db_service
DB_USER=appuser
DB_PASS=apppassword
DB_NAME=hustlink_db

# --- APP CONFIG ---
# Identitas Kelompok (Biar container namenya unik)
# Contoh: A1, B2, C3, dst.
GROUP_NAME=D7

# Jatah Port Server (Sesuai tabel pembagian)
# Contoh: 2581, 2582, dst.
APP_PORT=2584